* {
    box-sizing: border-box;
}
html,
body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.visually-hidden {
    /*позиционирование*/
    position: absolute;
    clip: rect(0 0 0 0);
    /*размеры*/
    width: 1px;
    height: 1px;
    /*отступы*/
    padding: 0;
    margin: -1px;
}

.container {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.row {
    padding: 64px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section {
}

.section_first {
    flex-basis: 48%;
}

.section_second {
    flex-basis: 49%;
}

.section__title {
    margin-bottom: 30px;
    font-size: 21px;
    color: #000000;

}

.section__no-list {
    line-height: 54px;
    color: #8993ad;
}

.section__list {
    padding-left: 0;
    list-style: none;
}

.section__item {
    margin-bottom: 20px;
    background: #fff;
}

.section__form {
    background: #fff;
}

.section__btn {
    padding: 18px 56px;
    margin-top: 21px;
    font-size: 16px;
    color: #fff;
    background: #2174fd;
    border: 1px solid #2174fd;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.section__btn:hover {
    color: #2174fd;
    background: #fff;
}

.card {
}

.card__header {
    position: relative;
    padding: 14px 20px;
    display: flex;
    border-bottom: 1px solid #ebebeb;
}

.card__title {
    margin: 0 21px 0 0;
    font-size: 15px;
    color: #000;
}

.card__remove {
    width: 38px;
    height: 38px;
    padding: 10px 15px;
    margin-top: -14px;
    background: transparent;
    border: none;
    z-index: 999999;
}

.card__arrow {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 10px 15px;
    width: 38px;
    height: 38px;
    background: transparent;
    border: none;
    transition: all ease-in-out .3s;
}

.card__arrow:active,
.card__arrow:focus {
    border: none;
}

.card__svg {
    max-width: 100%;
}

.card.active .card__arrow {
    transition: all ease-in-out .3s;
    transform: rotate(-90deg);
}

.card__remove:hover,
.card__arrow:hover {
    cursor: pointer;
}

.card__content {
    position: absolute;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0 21px;
    font-size: 14px;
    color: #8993ad;
    transition: all ease-in-out .3s;
}

.active .card__content {
    position: relative;
    clip: rect(0 0 0 0);
    height: auto;
    min-height: 68px;
    margin: 0;
    padding: 10px 21px;
    transition: all ease-in-out .3s;
}

.form {
    padding: 30px 40px;
}

.form__label {
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #8993ad;
}

.form__input {
    margin-top: 10px;
    padding: 10px;
    background-color: #fcfcfc;
    border: 1px solid #ebebeb;
}

.form__input_lg {
}

.form__input_error {
    border: 1px solid #f00;
}
